<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワードを生成しました</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>生成されたパスワード</h1>
    <h2><%= password %></h2>
    <p>ご利用ありがとうございました。</p>
    <a href="/">生成ページへ戻る</a>
</body>
</html>