<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/generate" method="post">
      <input type="text" name="msg">
      <input type="submit" value="生成">
    </form>
  </body>
</html>
